@import "tailwindcss";

@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }
    .slide-in-from-top {
        animation-name: SlideInFromTop;
    }
    .duration-300 {
        animation-duration: 300ms;
    }
}

@keyframes SlideInFromTop {
    from {
        opacity: 0;
        transform:  translateY(-1rem);
    }
    to{
        opacity: 1;
        transform:  translateY(0);
    }
}